body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(238, 236, 234, 0.845);
}

.Testimonials {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;

}

.Testimonials h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: rgba(14, 14, 14, 0.951);
}

.container {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    flex-wrap: wrap;

}

.profile {
    background-color: white;
    border-radius: 40px;
    padding: 20px;
    width: 300px;
    text-align: center;
    border: 3px solid black;
    box-shadow: 10px 10px 10px rgb(58, 58, 58);
}

.profile img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 15px;
    box-shadow: 10px 10px 10px rgb(216, 216, 216);


}

.profile h3 {
    font-size: 19px;
    color: black;
    margin-bottom: 10px;
}

.profile p {
    font-size: 14.4px; 
    color: #777;
    line-height: 1.5;
}
